header {
    grid-area: header;
    background-color:  #FEFEFE;
    z-index: 2;
    padding: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,.4); 
    position: sticky;
    top: 0;
  
}

nav > ul {
display: grid;
align-items: center;
grid-template-columns: repeat(3,1fr) 2fr ;
margin: 0;
padding-right: 40px;
}

nav li {
    list-style: none;
}

nav ul figure  {
 margin-top: 0;
 margin-bottom: 0;
}
.profile {
    padding-left: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.profile  figure img {
    border-radius: 50%;
    width: 43px;
    height: 43px;
    object-fit: cover;
}

.logo {
    grid-column-start: ;
}
.seeker {
    grid-column-start:2 ;
    grid-column-end:4 ;
}
.seeker form {
    margin-right: 5px;
}

.seeker input {
    width: 100%;
    height: 25px;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,.6);
}
/* <ul>
<li class="logo">
  <figure>
    <img src="assets/img/movi_es.jpg" alt="" />
  </figure>
</li>
<li class="seeker"><input type="text" /></li>
<li class="name">Bambi Rodriguez</li>
<li class="profile">
  <figure class="container-profile-img">
    <img class="profile-img" src="assets/img/bambi.jpg" alt="" />
  </figure>
</li>
</ul> */